@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --accent: #a259ff;
}
.swiper {
  padding-bottom: 40px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.translate-z-0 {
  transform: translateZ(0px);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  height: 50px !important;
  width: 50px !important;
  background: #fff;
  border-radius: 50px;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 20px !important;
  color: #f13024;
}

@layer base {
  body {
    @apply m-0 overflow-hidden bg-secondary p-0 leading-relaxed;
  }

  .page {
    @apply h-screen w-full overflow-hidden;
  }

  .h1 {
    @apply mb-3 text-[35px] font-semibold leading-tight sm:text-[35px] md:text-[35px] md:leading-[1.3] lg:text-[60px] xl:mb-8 xl:text-[60px];
  }

  .h2 {
    @apply mb-4 text-[35px] font-semibold leading-tight md:text-[54px] md:leading-[1.3];
  }

  p {
    @apply font-light leading-[1.8] text-white/60;
  }

  .btn,
  .input {
    @apply h-[52px];
  }

  .input {
    @apply h-[52px] w-full rounded-lg pl-6 capitalize;
  }

  .input,
  .textarea {
    @apply border border-white/20 bg-transparent outline-none placeholder:font-light placeholder:text-white/30 focus:ring-1 focus:ring-accent;
  }

  .textarea {
    @apply h-[180px] w-full resize-none rounded-lg p-6 capitalize;
  }
}
